<h1>About</h1>
<p>
    The <a href="https://www.railstutorial.org/"><em>Ruby on Tails</em</a> is a <a href="https://www.railstutorial.org/book"><em>Rails on Rails Tutorial</em>
    book</a> and  <a href="https://www.railstutorial.org/">screencast series</a> SEHD SHED SHED

</p>
 